@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');


html {
  overflow: hidden;
}

.boxen {
  position: fixed;
  top: 90%;
  left: 18.8%;
  width: 10%;
  height: 10%;

}

.color1 {
  position: fixed;
  width: 0.4%;
  left: 63.5%;
  height: 3.6%;
  bottom: 9.4%;
  transform: skew(18deg, 0deg);
background-color: rgb(0, 110, 0);

}

.color3 {
  position: fixed;
  width: 0.4%;
  left: 36%;
  height: 3.6%;
  bottom: 9.4%;
  transform: skew(-18deg, 0deg);
  background-color: rgb(145, 1, 158);

}

.color4 {
  position: fixed;
  width: 0.4%;
  left: 31.55%;
  height: 3.6%;
  bottom: 9.4%;
  transform: skew(-18deg, 0deg);
  background-color: rgb(145, 1, 158);

}

.color2 {
  position: fixed;
  width: 0.4%;
  right: 31.7%;
  height: 3.6%;
  bottom: 9.4%;
  transform: skew(18deg, 0deg);
  background-color: rgb(0, 110, 0);
}

.boxl1 {
  position: fixed;
  width: 3.4%;
  height: 3.5%;
  background-color: #3b3b3b;
  border: 2px solid rgb(146, 144, 144);
  margin-left: 13.3%;
  bottom: 9.2%;
  transform: skew(-18deg, 0deg);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.boxl2 {
  position: fixed;
  width: 3.3%;
  height: 3.5%;
  background-color: #3b3b3b;
  border: 2px solid rgb(146, 144, 144);
  margin-left: 17.7%;
  bottom: 9.2%;
  transform: skew(-18deg, 0deg);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.boxl3 {
  position: fixed;
  width: 7%;
  height: 3.5%;
  background-color: #3b3b3b;
  border: 2px solid rgb(146, 144, 144);
  margin-left: 21.6%;
  bottom: 8.9%;
  transform: skew(-18deg, 0deg);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.middle {
  position: fixed;
  width: 5.7%;
  height: 2.5%;
  background-color: #3b3b3b;
  border: 2px solid rgb(146, 144, 144);
  margin-left: 28.3%;
  margin-top: 1%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.boxr3 {
  position: fixed;
  width: 7%;
  height: 3.5%;
  background-color: #3b3b3b;
  border: 2px solid rgb(146, 144, 144);
  margin-left: 33.5%;
  bottom: 8.9%;
  transform: skew(18deg, 0deg);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.boxr2 {
  position: fixed;
  width: 3.3%;
  height: 3.5%;
  background-color: #3b3b3b;
  border: 2px solid rgb(146, 144, 144);
  margin-left: 41.1%;
  bottom: 9.2%;
  transform: skew(18deg, 0deg);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.boxr1 {
  position: fixed;
  width: 3.4%;
  height: 3.5%;
  background-color: #3b3b3b;
  border: 2px solid rgb(146, 144, 144);
  margin-left: 45.4%;
  bottom: 9.2%;
  transform: skew(18deg, 0deg);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.zeit {

  position: relative;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 3%;

}

.punkter {
  position: relative;
  transform: skew(-15deg, 0deg);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 9%;

}

.punktel {
  transform: skew(15deg, 0deg);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 8%;
}

.jobr {
  transform: skew(-15deg, 0deg);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 4%;
}

.jobl {
  transform: skew(15deg, 0deg);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 4%;
}

.jobrechts {
    position: relative;
    width: 54%;
    text-align: center;
}

.joblinks {
    position: relative;
    width: 54%;
    text-align: center;
}

.schwerter {
  position: fixed;
  width: 2.76%;
  left: 48.6%;
  bottom: 9%;
}
